openapi: 3.0.3
info:
  title: WhoisFreaks API
  description: "Complete WhoisFreaks API \u2014 WHOIS, DNS, SSL, Geolocation, Typosquatting,\nIP Intelligence,\
    \ Domain Reputation, and bulk database downloads.\n\n## Authentication\nAll requests require an `apiKey`\
    \ query parameter.\n\n## Resources\n- Docs: https://whoisfreaks.com/documentation\n- Billing: https://billing.whoisfreaks.com\n\
    - Support: support@whoisfreaks.com\n"
  version: 1.0.0
  contact:
    name: WhoisFreaks Support
    email: support@whoisfreaks.com
    url: https://whoisfreaks.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.whoisfreaks.com
  description: API Solutions (live lookups)
- url: https://files.whoisfreaks.com
  description: Database file downloads
security:
- ApiKeyAuth: []
tags:
- name: WHOIS
  description: WHOIS lookup APIs (live, historical, reverse, bulk)
- name: DNS
  description: DNS lookup APIs (live, historical, reverse, bulk)
- name: Domain Availability
  description: Check domain availability
- name: Typosquatting
  description: Detect typo variants of brand domains
- name: SSL
  description: SSL certificate lookup
- name: Geolocation
  description: IP geolocation lookup
- name: Subdomains
  description: Subdomain enumeration
- name: IP Reputation
  description: IP threat intelligence
- name: Domain Reputation
  description: Real-time domain threat assessment and trust scoring
- name: ASN WHOIS
  description: Autonomous System Number WHOIS
- name: IP WHOIS
  description: IP address WHOIS
- name: Account
  description: Account, API key, and usage utilities
- name: Databases - Newly Registered
  description: Newly registered domain downloads
- name: Databases - Expiring & Dropped
  description: Expiring and dropped domain downloads
- name: Databases - WHOIS
  description: WHOIS database snapshots
- name: Databases - DNS
  description: DNS database snapshots
- name: Databases - Subdomains
  description: Subdomain database snapshots
- name: Databases - IP Geolocation
  description: IP geolocation database snapshots
- name: Databases - ASN WHOIS
  description: ASN WHOIS database snapshots
- name: Databases - IP WHOIS
  description: IP WHOIS database snapshots
- name: Databases - IP Security
  description: IP security database snapshots
paths:
  /v2.0/whois/live:
    get:
      tags:
      - WHOIS
      summary: Live WHOIS Lookup
      description: Real-time WHOIS lookup from authoritative servers. Cost 1 credit.
      operationId: whoisLive
      parameters:
      - name: domainName
        in: query
        schema:
          type: string
        required: true
        example: whoisfreaks.com
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2.0/bulkwhois/live:
    post:
      tags:
      - WHOIS
      summary: Bulk WHOIS Lookup
      description: Up to 100 domains in one request. 1 credit per successful domain.
      operationId: bulkWhois
      parameters:
      - $ref: '#/components/parameters/Format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domainNames
              properties:
                domainNames:
                  type: array
                  items:
                    type: string
                  maxItems: 100
              example:
                domainNames:
                - whoisfreaks.com
                - jfreaks.com
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkWhoisResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v2.0/dns/live:
    get:
      tags:
      - DNS
      summary: Live DNS Lookup
      description: Real-time DNS record lookup. 1 credit per query.
      operationId: dnsLive
      parameters:
      - name: domainName
        in: query
        schema:
          type: string
      - name: ipAddress
        in: query
        schema:
          type: string
        description: Use for PTR lookups
      - name: type
        in: query
        schema:
          type: string
          default: all
        required: true
        description: 'all or comma-separated: A,MX,NS,TXT,SOA,SPF,AAAA,CNAME'
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2.0/dns/historical:
    get:
      tags:
      - DNS
      summary: Historical DNS Lookup
      description: All historical DNS records. 2 credits per page (100 records/page).
      operationId: dnsHistorical
      parameters:
      - name: domainName
        in: query
        schema:
          type: string
        required: true
      - name: type
        in: query
        schema:
          type: string
          default: all
        required: true
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalDnsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v2.1/dns/reverse:
    get:
      tags:
      - DNS
      summary: Reverse DNS Lookup
      description: Search domains by IP or DNS value. 5 credits per page.
      operationId: dnsReverse
      parameters:
      - name: value
        in: query
        schema:
          type: string
        required: true
        description: IP, CIDR, or record value
      - name: type
        in: query
        schema:
          type: string
          enum:
          - a
          - mx
          - cname
          - ns
          - aaaa
          - txt
          - soa
        required: true
      - name: exact
        in: query
        schema:
          type: boolean
          default: true
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseDnsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v2.0/dns/bulk/live:
    post:
      tags:
      - DNS
      summary: Bulk DNS Lookup
      description: Up to 100 domains + 100 IPs in one request.
      operationId: dnsBulk
      parameters:
      - name: type
        in: query
        schema:
          type: string
          default: all
        required: true
      - $ref: '#/components/parameters/Format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domainNames:
                  type: array
                  items:
                    type: string
                ipAddresses:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDnsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v2.0/domain/availability:
    get:
      tags:
      - Domain Availability
      summary: Domain Availability Check with Suggestions
      description: Check availability of a single domain and optionally get suggestions across multiple
        TLDs. 1 credit per domain checked. sug=false checks only the queried domain; sug=true returns
        up to `count` (max 100) TLD suggestions.
      operationId: domainAvailabilityV2
      parameters:
      - name: domain
        in: query
        schema:
          type: string
        required: true
        description: The domain name to check
        example: google.com
      - name: sug
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to return TLD suggestions alongside the queried domain.
      - name: count
        in: query
        schema:
          type: integer
          default: 5
          minimum: 1
          maximum: 100
        description: Number of TLD suggestions to return when sug=true. Maximum is 100.
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailabilityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    post:
      tags:
      - Domain Availability
      summary: Bulk Domain Availability Check
      description: 'Two bulk modes. Mode 1: POST domainNames array. Mode 2: POST tld array plus domain
        query param. Max 100 domains per request. 1 credit per domain checked.'
      operationId: bulkDomainAvailabilityV2
      parameters:
      - name: domain
        in: query
        schema:
          type: string
        description: Required for TLD-mode bulk check (base domain).
        example: google.com
      - $ref: '#/components/parameters/Format'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDomainAvailabilityRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDomainAvailabilityResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v3.0/domain/typos:
    get:
      tags:
      - Typosquatting
      summary: Typosquatting Lookup
      description: Find typo variants of a brand. 5 credits per page.
      operationId: typosquatting
      parameters:
      - name: keyword
        in: query
        schema:
          type: string
      - name: pattern
        in: query
        schema:
          type: string
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TyposquattingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /v1.0/ssl/live:
    get:
      tags:
      - SSL
      summary: SSL Certificate Lookup
      description: Real-time SSL cert with optional chain.
      operationId: sslLookup
      parameters:
      - name: domainName
        in: query
        schema:
          type: string
        required: true
      - name: chain
        in: query
        schema:
          type: boolean
          default: false
      - name: sslRaw
        in: query
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1.0/geolocation:
    get:
      tags:
      - Geolocation
      summary: IP Geolocation Lookup
      description: Get location, ASN, currency for an IP. 1 credit.
      operationId: geolocation
      parameters:
      - name: ip
        in: query
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeolocationResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
    post:
      tags:
      - Geolocation
      summary: Bulk IP Geolocation
      description: Up to 100 IPs.
      operationId: bulkGeolocation
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ips
              properties:
                ips:
                  type: array
                  items:
                    type: string
                  maxItems: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GeolocationResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1.0/subdomains:
    get:
      tags:
      - Subdomains
      summary: Subdomains Lookup
      description: All subdomains including nested. 2 credits per query.
      operationId: subdomains
      parameters:
      - name: domain
        in: query
        schema:
          type: string
        required: true
      - name: after
        in: query
        schema:
          type: string
          format: date
      - name: before
        in: query
        schema:
          type: string
          format: date
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - inactive
      - name: page
        in: query
        schema:
          type: integer
          default: 1
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubdomainsResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1.0/security:
    get:
      tags:
      - IP Reputation
      summary: IP Reputation Lookup
      description: "Threat intel for IP \u2014 VPN, proxy, Tor, bots. 1 credit."
      operationId: ipReputation
      parameters:
      - name: ip
        in: query
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpReputationResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
    post:
      tags:
      - IP Reputation
      summary: Bulk IP Reputation
      description: Up to 100 IPs.
      operationId: bulkIpReputation
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ips
              properties:
                ips:
                  type: array
                  items:
                    type: string
                  maxItems: 100
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IpReputationResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1/domain/security:
    get:
      tags:
      - Domain Reputation
      summary: Domain Reputation Lookup
      description: Real-time domain threat assessment. Returns risk verdict, trust score, DGA analysis,
        threat intelligence matches, and security signals. 1 credit.
      operationId: domainReputation
      parameters:
      - name: domainName
        in: query
        schema:
          type: string
        required: true
        description: The domain name to assess
        example: amazon.com
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainReputationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /v2.0/asn-whois:
    get:
      tags:
      - ASN WHOIS
      summary: ASN WHOIS Lookup
      description: WHOIS for an ASN. 1 credit.
      operationId: asnWhois
      parameters:
      - name: asn
        in: query
        schema:
          type: string
        required: true
        example: as15169
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsnWhoisResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1.0/ip-whois:
    get:
      tags:
      - IP WHOIS
      summary: IP WHOIS Lookup
      description: WHOIS for an IP address. 1 credit.
      operationId: ipWhois
      parameters:
      - name: ip
        in: query
        schema:
          type: string
        required: true
      - $ref: '#/components/parameters/Format'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpWhoisResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
  /v1.0/api-key/rotate:
    get:
      tags:
      - Account
      summary: Rotate API Key
      operationId: rotateApiKey
      parameters: []
      responses:
        '200':
          description: Key rotated
          content:
            text/plain:
              schema:
                type: string
        '401':
          description: Not allowed
          content:
            text/plain:
              schema:
                type: string
      description: Rotate API Key. Returns the file/snapshot described by this operation.
  /v1.0/whoisapi/usage:
    get:
      tags:
      - Account
      summary: Account Usage
      operationId: accountUsage
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUsageResponse'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Account Usage. Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/gtld:
    servers: &id001
    - url: https://files.whoisfreaks.com
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered gTLD (CSV)
      operationId: dbNewlyGtld
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
        required: true
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered gTLD (CSV). Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/cctld:
    servers: *id001
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered ccTLD (CSV)
      operationId: dbNewlyCctld
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
        required: true
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered ccTLD (CSV). Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/gtld/cleaned:
    servers: *id001
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered gTLD Cleaned WHOIS (CSV)
      operationId: dbNewlyGtldCleaned
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered gTLD Cleaned WHOIS (CSV). Returns the file/snapshot described by this
        operation.
  /v3.1/download/domainer/cctld/cleaned:
    servers: *id001
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered ccTLD Cleaned WHOIS (CSV)
      operationId: dbNewlyCctldCleaned
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered ccTLD Cleaned WHOIS (CSV). Returns the file/snapshot described by
        this operation.
  /v3.1/domains/newly/gtld:
    servers: *id001
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered gTLD (JSON)
      operationId: dbNewlyGtldJson
      parameters:
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: JSON array of domains
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered gTLD (JSON). Returns the file/snapshot described by this operation.
  /v3.1/domains/newly/cctld:
    servers: *id001
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered ccTLD (JSON)
      operationId: dbNewlyCctldJson
      parameters:
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: JSON array of domains
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered ccTLD (JSON). Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/newly/dns:
    servers: *id001
    get:
      tags:
      - Databases - Newly Registered
      summary: Newly Registered With DNS
      operationId: dbNewlyDns
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: JSON array of domains with DNS
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Newly Registered With DNS. Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/expired:
    servers: *id001
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Expiring Domains
      operationId: dbExpired
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
        required: true
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Expiring Domains. Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/expired/cleaned:
    servers: *id001
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Expiring Cleaned WHOIS
      operationId: dbExpiredCleaned
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Expiring Cleaned WHOIS. Returns the file/snapshot described by this operation.
  /v3.1/download/domainer/dropped:
    servers: *id001
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Dropped Domains
      operationId: dbDropped
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
        required: true
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Dropped Domains. Returns the file/snapshot described by this operation.
  /v3.1/domains/dropped:
    servers: *id001
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Dropped Domains (JSON)
      operationId: dbDroppedJson
      parameters:
      - $ref: '#/components/parameters/DateParam'
      - name: tlds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: JSON array of domains
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Dropped Domains (JSON). Returns the file/snapshot described by this operation.
  /v3.3/download/domainer/dropped/backlinks:
    servers: *id001
    get:
      tags:
      - Databases - Expiring & Dropped
      summary: Dropped With Backlinks
      operationId: dbDroppedBacklinks
      parameters:
      - name: whois
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Dropped With Backlinks. Returns the file/snapshot described by this operation.
  /v3.3/download/dbupdate/daily/domains/whois:
    servers: *id001
    get:
      tags:
      - Databases - WHOIS
      summary: WHOIS Database Daily
      operationId: dbWhoisDaily
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: WHOIS Database Daily. Returns the file/snapshot described by this operation.
  /v3.3/download/dbupdate/weekly/domains/whois:
    servers: *id001
    get:
      tags:
      - Databases - WHOIS
      summary: WHOIS Database Weekly
      operationId: dbWhoisWeekly
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: WHOIS Database Weekly. Returns the file/snapshot described by this operation.
  /v3.3/download/dbupdate/monthly/domains/whois:
    servers: *id001
    get:
      tags:
      - Databases - WHOIS
      summary: WHOIS Database Monthly
      operationId: dbWhoisMonthly
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: WHOIS Database Monthly. Returns the file/snapshot described by this operation.
  /v3.2/download/dbupdate/daily/dns:
    servers: *id001
    get:
      tags:
      - Databases - DNS
      summary: DNS Database Daily
      operationId: dbDnsDaily
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: DNS Database Daily. Returns the file/snapshot described by this operation.
  /v3.2/download/dbupdate/weekly/dns:
    servers: *id001
    get:
      tags:
      - Databases - DNS
      summary: DNS Database Weekly
      operationId: dbDnsWeekly
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: DNS Database Weekly. Returns the file/snapshot described by this operation.
  /v3.2/download/dbupdate/monthly/dns:
    servers: *id001
    get:
      tags:
      - Databases - DNS
      summary: DNS Database Monthly
      operationId: dbDnsMonthly
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: DNS Database Monthly. Returns the file/snapshot described by this operation.
  /v3.2/download/dbupdate/daily/subdomains:
    servers: *id001
    get:
      tags:
      - Databases - Subdomains
      summary: Subdomains Daily
      operationId: dbSubdomainsDaily
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Subdomains Daily. Returns the file/snapshot described by this operation.
  /v3.2/download/dbupdate/weekly/subdomains:
    servers: *id001
    get:
      tags:
      - Databases - Subdomains
      summary: Subdomains Weekly
      operationId: dbSubdomainsWeekly
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Subdomains Weekly. Returns the file/snapshot described by this operation.
  /v3.2/download/dbupdate/monthly/subdomains:
    servers: *id001
    get:
      tags:
      - Databases - Subdomains
      summary: Subdomains Monthly
      operationId: dbSubdomainsMonthly
      parameters:
      - $ref: '#/components/parameters/DateParam'
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: Subdomains Monthly. Returns the file/snapshot described by this operation.
  /v3.3/status/snapshot/ip/country:
    servers: *id001
    get:
      tags:
      - Databases - IP Geolocation
      summary: IP to Country Snapshot Status
      operationId: dbIpCountryStatus
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: IP to Country Snapshot Status. Returns the file/snapshot described by this operation.
  /v3.3/download/snapshot/ip/country:
    servers: *id001
    get:
      tags:
      - Databases - IP Geolocation
      summary: IP to Country Snapshot
      operationId: dbIpCountry
      parameters:
      - name: date
        in: query
        schema:
          type: string
          format: date
        required: true
      responses:
        '200':
          description: ZIP archive
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: IP to Country Snapshot. Returns the file/snapshot described by this operation.
  /v3.3/status/snapshot/ip/city:
    servers: *id001
    get:
      tags:
      - Databases - IP Geolocation
      summary: IP to City Snapshot Status
      operationId: dbIpCityStatus
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: IP to City Snapshot Status. Returns the file/snapshot described by this operation.
  /v3.3/download/snapshot/ip/city:
    servers: *id001
    get:
      tags:
      - Databases - IP Geolocation
      summary: IP to City Snapshot
      operationId: dbIpCity
      parameters:
      - name: date
        in: query
        schema:
          type: string
          format: date
        required: true
      responses:
        '200':
          description: ZIP archive
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: IP to City Snapshot. Returns the file/snapshot described by this operation.
  /v3.3/download/snapshot/asn/whois:
    servers: *id001
    get:
      tags:
      - Databases - ASN WHOIS
      summary: ASN WHOIS Snapshot
      operationId: dbAsnWhois
      parameters:
      - name: date
        in: query
        schema:
          type: string
          format: date
        required: true
      responses:
        '200':
          description: JSON gzipped
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: ASN WHOIS Snapshot. Returns the file/snapshot described by this operation.
  /v3.3/status/snapshot/asn/whois:
    servers: *id001
    get:
      tags:
      - Databases - ASN WHOIS
      summary: ASN WHOIS Snapshot Status
      operationId: dbAsnWhoisStatus
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: ASN WHOIS Snapshot Status. Returns the file/snapshot described by this operation.
  /v3.3/download/snapshot/ip/whois:
    servers: *id001
    get:
      tags:
      - Databases - IP WHOIS
      summary: IP WHOIS Snapshot
      operationId: dbIpWhois
      parameters:
      - name: date
        in: query
        schema:
          type: string
          format: date
        required: true
      responses:
        '200':
          description: JSON gzipped
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: IP WHOIS Snapshot. Returns the file/snapshot described by this operation.
  /v3.3/status/snapshot/ip/whois:
    servers: *id001
    get:
      tags:
      - Databases - IP WHOIS
      summary: IP WHOIS Snapshot Status
      operationId: dbIpWhoisStatus
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: IP WHOIS Snapshot Status. Returns the file/snapshot described by this operation.
  /v3.3/download/snapshot/ip/security:
    servers: *id001
    get:
      tags:
      - Databases - IP Security
      summary: IP Security Snapshot
      operationId: dbIpSecurity
      parameters:
      - name: date
        in: query
        schema:
          type: string
          format: date
        required: true
      responses:
        '200':
          description: CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: IP Security Snapshot. Returns the file/snapshot described by this operation.
  /v3.3/status/snapshot/ip/security:
    servers: *id001
    get:
      tags:
      - Databases - IP Security
      summary: IP Security Snapshot Status
      operationId: dbIpSecurityStatus
      parameters: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
        4XX:
          $ref: '#/components/responses/ErrorResponse'
      description: IP Security Snapshot Status. Returns the file/snapshot described by this operation.
  /v2.0/whois/history:
    get:
      tags:
      - WHOIS
      operationId: whoisHistory
      summary: Historical WHOIS records for a domain
      parameters:
      - name: domainName
        in: query
        required: true
        schema:
          type: string
        description: Domain to fetch historical WHOIS records for
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
      responses:
        '200':
          description: Historical WHOIS records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisHistoricalResponse'
  /v2.0/whois/reverse:
    get:
      tags:
      - WHOIS
      operationId: whoisReverse
      summary: Reverse WHOIS lookup by keyword
      parameters:
      - name: keyword
        in: query
        required: true
        schema:
          type: string
        description: Keyword to search across WHOIS records
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Page number
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - json
          - xml
      responses:
        '200':
          description: Reverse WHOIS results (paginated)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseWhoisResponse'
  /v3.4/download/threat-feed/phishing:
    get:
      tags:
      - Databases - Threat Feed
      operationId: downloadThreatFeedPhishing
      summary: Download the daily phishing threat feed (CSV)
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: Feed date (yyyy-MM-dd); defaults to latest available
      responses:
        '200':
          description: Phishing threat feed as CSV (domain,threat_type,confidence,first_seen,last_seen,No_of_threat_matched_pivots)
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v3.4/download/threat-feed/phishing/sample:
    get:
      tags:
      - Databases - Threat Feed
      operationId: downloadThreatFeedPhishingSample
      summary: Download a sample of the phishing threat feed (CSV)
      parameters: []
      responses:
        '200':
          description: Sample phishing threat feed as CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v3.4/download/threat-feed/malware:
    get:
      tags:
      - Databases - Threat Feed
      operationId: downloadThreatFeedMalware
      summary: Download the daily malware threat feed (CSV)
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: Feed date (yyyy-MM-dd); defaults to latest available
      responses:
        '200':
          description: Malware threat feed as CSV (domain,threat_type,confidence,first_seen,last_seen,No_of_threat_matched_pivots)
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v3.4/download/threat-feed/malware/sample:
    get:
      tags:
      - Databases - Threat Feed
      operationId: downloadThreatFeedMalwareSample
      summary: Download a sample of the malware threat feed (CSV)
      parameters: []
      responses:
        '200':
          description: Sample malware threat feed as CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v3.4/download/threat-feed/spam:
    get:
      tags:
      - Databases - Threat Feed
      operationId: downloadThreatFeedSpam
      summary: Download the daily spam threat feed (CSV)
      parameters:
      - name: date
        in: query
        required: false
        schema:
          type: string
        description: Feed date (yyyy-MM-dd); defaults to latest available
      responses:
        '200':
          description: Spam threat feed as CSV (domain,threat_type,confidence,first_seen,last_seen,No_of_threat_matched_pivots)
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v3.4/download/threat-feed/spam/sample:
    get:
      tags:
      - Databases - Threat Feed
      operationId: downloadThreatFeedSpamSample
      summary: Download a sample of the spam threat feed (CSV)
      parameters: []
      responses:
        '200':
          description: Sample spam threat feed as CSV
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /v3.4/status:
    servers: *id001
    get:
      tags:
      - Account
      summary: Database File Status (Public)
      description: No API key required. Returns freshness of all downloadable files.
      operationId: databaseFileStatus
      security: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseFileStatus'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey
  parameters:
    Format:
      name: format
      in: query
      schema:
        type: string
        enum:
        - json
        - xml
        default: json
    DateParam:
      name: date
      in: query
      schema:
        type: string
        format: date
      description: yyyy-MM-dd; omit for latest
  responses:
    Unauthorized:
      description: Invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ErrorResponse:
      description: Error response (4XX)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    RegistrarInformation:
      type: object
      properties:
        id:
          type: string
        id_type:
          type: string
        iana_id:
          type: string
        registry_id:
          type: string
        handle:
          type: string
        status:
          type: string
        registrar_name:
          type: string
        normalized_name:
          type: string
        whois_server:
          type: string
        rdap_server:
          type: string
        website_url:
          type: string
        email_address:
          type: string
        phone_number:
          type: string
        authoritative_registry_name:
          type: string
        organization_number:
          type: string
        is_sponsor:
          type: boolean
      additionalProperties: true
      description: Registrar details (used by domain_registrar, abuse_contact).
    ResellerContact:
      type: object
      properties:
        name:
          type: string
        email_address:
          type: string
        phone:
          type: string
      additionalProperties: true
    PersonalInformation:
      type: object
      properties:
        id:
          type: string
        id_type:
          type: string
        handle:
          type: string
        name:
          type: string
        company:
          type: string
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zip_code:
          type: string
        country_name:
          type: string
        country_code:
          type: string
        email_address:
          type: string
        phone:
          type: string
        fax:
          type: string
        mailing_address:
          type: string
      additionalProperties: true
      description: Contact block (registrant/administrative/technical/billing).
    EligibilityInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
      additionalProperties: true
    RegistryData:
      type: object
      properties:
        domain_name:
          type: string
        query_time:
          type: string
        whois_server:
          type: string
        domain_registered:
          type: string
        create_date:
          type: string
        update_date:
          type: string
        expiry_date:
          type: string
        domain_registrar:
          $ref: '#/components/schemas/RegistrarInformation'
        name_servers:
          type: array
          items:
            type: string
        domain_status:
          type: array
          items:
            type: string
        whois_raw_domain:
          type: string
      additionalProperties: true
    WhoisResponse:
      type: object
      properties:
        status:
          type: boolean
        domain_name:
          type: string
        query_time:
          type: string
        whois_server:
          type: string
        domain_registered:
          type: string
        secure_dns:
          type: boolean
        domain_handle:
          type: string
        create_date:
          type: string
        update_date:
          type: string
        expiry_date:
          type: string
        domain_registrar:
          $ref: '#/components/schemas/RegistrarInformation'
        reseller_contact:
          $ref: '#/components/schemas/ResellerContact'
        registrant_contact:
          $ref: '#/components/schemas/PersonalInformation'
        administrative_contact:
          $ref: '#/components/schemas/PersonalInformation'
        technical_contact:
          $ref: '#/components/schemas/PersonalInformation'
        billing_contact:
          $ref: '#/components/schemas/PersonalInformation'
        eligibility_info:
          $ref: '#/components/schemas/EligibilityInfo'
        abuse_contact:
          $ref: '#/components/schemas/RegistrarInformation'
        name_servers:
          type: array
          items:
            type: string
        domain_status:
          type: array
          items:
            type: string
        whois_raw_domain:
          type: string
        registry_data:
          $ref: '#/components/schemas/RegistryData'
      additionalProperties: true
      description: Live WHOIS lookup response (DomainInfo).
    WhoisHistoricalItem:
      type: object
      properties:
        num:
          type: integer
        status:
          type: boolean
        domain_name:
          type: string
        query_time:
          type: string
        whois_server:
          type: string
        domain_registered:
          type: string
        secure_dns:
          type: boolean
        domain_handle:
          type: string
        create_date:
          type: string
        update_date:
          type: string
        expiry_date:
          type: string
        domain_registrar:
          $ref: '#/components/schemas/RegistrarInformation'
        reseller_contact:
          $ref: '#/components/schemas/ResellerContact'
        registrant_contact:
          $ref: '#/components/schemas/PersonalInformation'
        administrative_contact:
          $ref: '#/components/schemas/PersonalInformation'
        technical_contact:
          $ref: '#/components/schemas/PersonalInformation'
        billing_contact:
          $ref: '#/components/schemas/PersonalInformation'
        eligibility_info:
          $ref: '#/components/schemas/EligibilityInfo'
        abuse_contact:
          $ref: '#/components/schemas/RegistrarInformation'
        name_servers:
          type: array
          items:
            type: string
        domain_status:
          type: array
          items:
            type: string
        whois_raw_domain:
          type: string
        registry_data:
          $ref: '#/components/schemas/RegistryData'
      additionalProperties: true
    WhoisHistoricalResponse:
      type: object
      properties:
        status:
          type: boolean
        whois:
          type: string
        total_records:
          type: string
        whois_domains_historical:
          type: array
          items:
            $ref: '#/components/schemas/WhoisHistoricalItem'
      additionalProperties: true
    ReverseWhoisResponse:
      type: object
      properties:
        Total_Result:
          type: integer
        Total_Pages:
          type: integer
        Current_Page:
          type: integer
        whois_domains_historical:
          type: array
          items:
            $ref: '#/components/schemas/WhoisHistoricalItem'
      additionalProperties: true
      description: Reverse WHOIS response. Pagination keys are capitalized (Total_Result/Total_Pages/Current_Page)
        as returned by the API.
    BulkWhoisItem:
      type: object
      properties:
        status:
          type: boolean
        domain_name:
          type: string
        error:
          type: string
      additionalProperties: true
      description: One bulk WHOIS result; success items also carry all WhoisResponse fields.
    BulkWhoisResponse:
      type: object
      properties:
        bulk_whois_response:
          type: array
          items:
            $ref: '#/components/schemas/BulkWhoisItem'
      additionalProperties: true
    DnsRecord:
      type: object
      properties:
        type:
          type: string
        name:
          type: string
        ttl:
          type: integer
        address:
          type: string
        priority:
          type: integer
        exchange:
          type: string
        target:
          type: string
        strings:
          type: array
          items:
            type: string
        host:
          type: string
        admin:
          type: string
        serial:
          type: integer
        refresh:
          type: integer
        retry:
          type: integer
        expire:
          type: integer
        minimum:
          type: integer
      additionalProperties: true
      description: Union of all DNS record variants (A/AAAA/MX/NS/CNAME/PTR/TXT/SPF/SOA).
    DnsResponse:
      type: object
      properties:
        domainName:
          type: string
        ipAddress:
          type: string
        queryTime:
          type: string
        status:
          type: boolean
        domainRegistered:
          type: boolean
        dnsTypes:
          type: object
        dnsRecords:
          type: array
          items:
            $ref: '#/components/schemas/DnsRecord'
      additionalProperties: true
      description: Live DNS response (DnsInfo).
    HistoricalDnsResponse:
      type: object
      properties:
        totalPages:
          type: integer
        currenPage:
          type: integer
        totalRecords:
          type: integer
        historicalDns:
          type: array
          items:
            $ref: '#/components/schemas/DnsResponse'
      additionalProperties: true
      description: 'Note: ''currenPage'' spelling matches the API.'
    ReverseDnsResponse:
      type: object
      properties:
        totalRecords:
          type: integer
        totalPages:
          type: integer
        currentPage:
          type: integer
        reverseDnsRecords:
          type: array
          items:
            $ref: '#/components/schemas/DnsResponse'
      additionalProperties: true
    BulkDnsResponse:
      type: object
      properties:
        bulk_dns_info:
          type: array
          items:
            $ref: '#/components/schemas/DnsResponse'
      additionalProperties: true
    Subdomain:
      type: object
      properties:
        subdomain:
          type: string
        first_seen:
          type: string
        last_seen:
          type: string
        inactive_from:
          type: string
        dns_records:
          $ref: '#/components/schemas/DnsResponse'
      additionalProperties: true
    SubdomainsResponse:
      type: object
      properties:
        domain:
          type: string
        status:
          type: boolean
        current_page:
          type: integer
        total_pages:
          type: integer
        query_time:
          type: string
        total_records:
          type: integer
        subdomains:
          type: array
          items:
            $ref: '#/components/schemas/Subdomain'
      additionalProperties: true
    DomainAvailabilityItem:
      type: object
      properties:
        domain:
          type: string
        availability:
          type: string
        status:
          type: boolean
      additionalProperties: true
    DomainAvailabilityResponse:
      type: object
      properties:
        domain:
          type: string
        availability:
          type: string
        message:
          type: string
        domain_available_response:
          type: array
          items:
            $ref: '#/components/schemas/DomainAvailabilityItem'
      additionalProperties: true
    BulkDomainAvailabilityResponse:
      type: object
      properties:
        bulk_domain_availability_response:
          type: array
          items:
            $ref: '#/components/schemas/DomainAvailabilityItem'
      additionalProperties: true
    TyposquattingDomain:
      type: object
      properties:
        domainName:
          type: string
        createDate:
          type: string
        expiryDate:
          type: string
        lastSeen:
          type: string
        isDropped:
          type: boolean
      additionalProperties: true
    TyposquattingResponse:
      type: object
      properties:
        status:
          type: boolean
        totalRecords:
          type: integer
        currentPage:
          type: integer
        totalPages:
          type: integer
        hasNextPage:
          type: boolean
        nextPageToken:
          type: string
        domains:
          type: array
          items:
            $ref: '#/components/schemas/TyposquattingDomain'
      additionalProperties: true
    SslUnitInfo:
      type: object
      properties:
        commonName:
          type: string
        organization:
          type: string
        organizationalUnit:
          type: string
        locality:
          type: string
        state:
          type: string
        country:
          type: string
        incCountry:
          type: string
        incState:
          type: string
        businessCategory:
          type: string
        street:
          type: string
        postalCode:
          type: string
        serialNumber:
          type: string
      additionalProperties: true
    SslPublicKeyInfo:
      type: object
      properties:
        keySize:
          type: string
        keyAlgorithm:
          type: string
        pemRaw:
          type: string
      additionalProperties: true
    SslAuthorityInfo:
      type: object
      properties:
        issuers:
          type: array
          items:
            type: string
        ocsp:
          type: array
          items:
            type: string
      additionalProperties: true
    SslAlternateNames:
      type: object
      properties:
        dnsNames:
          type: array
          items:
            type: string
        emailAddresses:
          type: array
          items:
            type: string
        ipAddresses:
          type: array
          items:
            type: string
        uris:
          type: array
          items:
            type: string
      additionalProperties: true
    SslCertificatePolicy:
      type: object
      properties:
        policyId:
          type: string
        policyQualifier:
          type: object
      additionalProperties: true
    SslExtensionsInfo:
      type: object
      properties:
        authorityKeyIdentifier:
          type: string
        subjectKeyIdentifier:
          type: string
        keyUsages:
          type: array
          items:
            type: string
        extendedKeyUsages:
          type: array
          items:
            type: string
        crlDistributionPoints:
          type: array
          items:
            type: string
        authorityInfoAccess:
          $ref: '#/components/schemas/SslAuthorityInfo'
        subjectAlternativeNames:
          $ref: '#/components/schemas/SslAlternateNames'
        certificatePolicies:
          type: array
          items:
            $ref: '#/components/schemas/SslCertificatePolicy'
      additionalProperties: true
    SslCertificate:
      type: object
      properties:
        chainOrder:
          type: string
        authenticationType:
          type: string
        validityStartDate:
          type: string
        validityEndDate:
          type: string
        serialNumber:
          type: string
        signatureAlgorithm:
          type: string
        subject:
          $ref: '#/components/schemas/SslUnitInfo'
        issuer:
          $ref: '#/components/schemas/SslUnitInfo'
        publicKey:
          $ref: '#/components/schemas/SslPublicKeyInfo'
        extensions:
          $ref: '#/components/schemas/SslExtensionsInfo'
        pemRaw:
          type: string
      additionalProperties: true
    SslResponse:
      type: object
      properties:
        domainName:
          type: string
        queryTime:
          type: string
        sslCertificates:
          type: array
          items:
            $ref: '#/components/schemas/SslCertificate'
        sslRaw:
          type: string
      additionalProperties: true
    InetNum:
      type: object
      properties:
        start_ip:
          type: string
        end_ip:
          type: string
        cidr:
          type: array
          items:
            type: string
        net_name:
          type: string
        net_handle:
          type: string
        description:
          type: array
          items:
            type: string
        countries:
          type: array
          items:
            type: string
        geofeed:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        city:
          type: string
        languages:
          type: array
          items:
            type: string
        status:
          type: string
        organization:
          type: string
        sponsoring_organization:
          type: string
        remarks:
          type: array
          items:
            type: string
        assignment_size:
          type: string
        notify:
          type: array
          items:
            type: string
        mnt_by:
          type: array
          items:
            type: string
        mnt_lower:
          type: array
          items:
            type: string
        mnt_domains:
          type: array
          items:
            type: string
        mnt_routes:
          type: array
          items:
            type: string
        mnt_irt:
          type: array
          items:
            type: string
        date_created:
          type: string
        date_updated:
          type: string
        source:
          type: string
        parents:
          type: array
          items:
            type: string
      additionalProperties: true
    WhoisOrganization:
      type: object
      properties:
        handle:
          type: string
        name:
          type: string
        type:
          type: string
        description:
          type: array
          items:
            type: string
        address:
          type: array
          items:
            type: string
        street:
          type: string
        city:
          type: string
        district:
          type: string
        state:
          type: string
        zip_code:
          type: string
        country:
          type: array
          items:
            type: string
        latitude:
          type: number
        longitude:
          type: number
        email:
          type: array
          items:
            type: string
        abuse_mailbox:
          type: array
          items:
            type: string
        phone:
          type: array
          items:
            type: string
        fax_no:
          type: array
          items:
            type: string
        organizations:
          type: array
          items:
            type: string
        admin_contacts:
          type: array
          items:
            type: string
        tech_contacts:
          type: array
          items:
            type: string
        abuse_contacts:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string
        remarks:
          type: array
          items:
            type: string
        notify:
          type: array
          items:
            type: string
        ref_nfy:
          type: array
          items:
            type: string
        mnt_ref:
          type: array
          items:
            type: string
        mnt_by:
          type: array
          items:
            type: string
        date_created:
          type: string
        date_updated:
          type: string
        source:
          type: string
      additionalProperties: true
    Irt:
      type: object
      properties:
        handle:
          type: string
        address:
          type: array
          items:
            type: string
        street:
          type: string
        city:
          type: string
        district:
          type: string
        state:
          type: string
        zip_code:
          type: string
        country:
          type: string
        email:
          type: array
          items:
            type: string
        abuse_mailbox:
          type: array
          items:
            type: string
        phone:
          type: array
          items:
            type: string
        fax_no:
          type: array
          items:
            type: string
        organizations:
          type: array
          items:
            type: string
        admin_contacts:
          type: array
          items:
            type: string
        tech_contacts:
          type: array
          items:
            type: string
        remarks:
          type: array
          items:
            type: string
        signature:
          type: array
          items:
            type: string
        encryption:
          type: array
          items:
            type: string
        auth:
          type: array
          items:
            type: string
        notify:
          type: array
          items:
            type: string
        irt_nfy:
          type: array
          items:
            type: string
        mnt_by:
          type: array
          items:
            type: string
        mnt_ref:
          type: array
          items:
            type: string
      additionalProperties: true
    WhoisPerson:
      type: object
      properties:
        handle:
          type: string
        name:
          type: string
        address:
          type: array
          items:
            type: string
        street:
          type: string
        city:
          type: string
        district:
          type: string
        state:
          type: string
        zip_code:
          type: string
        country:
          type: string
        email:
          type: array
          items:
            type: string
        abuse_mailbox:
          type: array
          items:
            type: string
        phone:
          type: array
          items:
            type: string
        fax_no:
          type: array
          items:
            type: string
        organizations:
          type: array
          items:
            type: string
        admin_contacts:
          type: array
          items:
            type: string
        tech_contacts:
          type: array
          items:
            type: string
        remarks:
          type: array
          items:
            type: string
        notify:
          type: array
          items:
            type: string
        mnt_by:
          type: array
          items:
            type: string
        mnt_ref:
          type: array
          items:
            type: string
        date_created:
          type: string
        date_updated:
          type: string
        source:
          type: string
      additionalProperties: true
    WhoisRole:
      type: object
      properties:
        handle:
          type: string
        name:
          type: string
        address:
          type: array
          items:
            type: string
        street:
          type: string
        city:
          type: string
        district:
          type: string
        state:
          type: string
        zip_code:
          type: string
        country:
          type: string
        email:
          type: array
          items:
            type: string
        abuse_mailbox:
          type: array
          items:
            type: string
        phone:
          type: array
          items:
            type: string
        fax_no:
          type: array
          items:
            type: string
        organizations:
          type: array
          items:
            type: string
        admin_contacts:
          type: array
          items:
            type: string
        tech_contacts:
          type: array
          items:
            type: string
        remarks:
          type: array
          items:
            type: string
        notify:
          type: array
          items:
            type: string
        mnt_by:
          type: array
          items:
            type: string
        mnt_ref:
          type: array
          items:
            type: string
        date_created:
          type: string
        date_updated:
          type: string
        source:
          type: string
      additionalProperties: true
    Route:
      type: object
      properties:
        route:
          type: string
        description:
          type: array
          items:
            type: string
        origin:
          type: string
        pingable:
          type: array
          items:
            type: string
        ping_hdl:
          type: array
          items:
            type: string
        holes:
          type: array
          items:
            type: string
        country:
          type: string
        organizations:
          type: array
          items:
            type: string
        member_of:
          type: array
          items:
            type: string
        inject:
          type: array
          items:
            type: string
        aggr_mtd:
          type: string
        aggr_bndry:
          type: string
        export_comps:
          type: string
        components:
          type: string
        remarks:
          type: array
          items:
            type: string
        notify:
          type: array
          items:
            type: string
        mnt_lower:
          type: array
          items:
            type: string
        mnt_routes:
          type: array
          items:
            type: string
        mnt_by:
          type: array
          items:
            type: string
        date_created:
          type: string
        date_updated:
          type: string
        source:
          type: string
      additionalProperties: true
    IpWhoisResponse:
      type: object
      properties:
        status:
          type: boolean
        ip_address:
          type: string
        as_number:
          type: string
        query_time:
          type: string
        whois_server:
          type: string
        whois_raw_response:
          type: string
        r_whois_raw_response:
          type: string
        inet_nums:
          type: array
          items:
            $ref: '#/components/schemas/InetNum'
        organization:
          $ref: '#/components/schemas/WhoisOrganization'
        irt:
          $ref: '#/components/schemas/Irt'
        administrative_contacts:
          type: array
          items:
            $ref: '#/components/schemas/WhoisPerson'
        technical_contacts:
          type: array
          items:
            $ref: '#/components/schemas/WhoisPerson'
        abuse_contacts:
          type: array
          items:
            $ref: '#/components/schemas/WhoisPerson'
        routes:
          type: array
          items:
            $ref: '#/components/schemas/Route'
      additionalProperties: true
    AsnPeer:
      type: object
      properties:
        as_number:
          type: string
        description:
          type: string
        country:
          type: string
      additionalProperties: true
    AsnInfo:
      type: object
      properties:
        as_number:
          type: string
        organization:
          type: string
        country:
          type: string
        type:
          type: string
        domain:
          type: string
        date_allocated:
          type: string
        asn_name:
          type: string
        allocation_status:
          type: string
        num_of_ipv4_routes:
          type: string
        num_of_ipv6_routes:
          type: string
        rir:
          type: string
        routes:
          type: array
          items:
            type: string
        downstreams:
          type: array
          items:
            $ref: '#/components/schemas/AsnPeer'
        upstreams:
          type: array
          items:
            $ref: '#/components/schemas/AsnPeer'
        peers:
          type: array
          items:
            $ref: '#/components/schemas/AsnPeer'
        whois_response:
          type: string
      additionalProperties: true
    AsnWhoisResponse:
      type: object
      properties:
        asn:
          $ref: '#/components/schemas/AsnInfo'
      additionalProperties: true
      description: "ASN WHOIS v2 (/v2.0/asn-whois) \u2014 pass-through of ipgeolocation ASN data."
    IpLocation:
      type: object
      properties:
        continent_code:
          type: string
        continent_name:
          type: string
        country_code2:
          type: string
        country_code3:
          type: string
        country_name:
          type: string
        country_name_official:
          type: string
        country_capital:
          type: string
        state_prov:
          type: string
        state_code:
          type: string
        district:
          type: string
        city:
          type: string
        locality:
          type: string
        accuracy_radius:
          type: string
        confidence:
          type: string
        zipcode:
          type: string
        latitude:
          type: string
        longitude:
          type: string
        is_eu:
          type: boolean
        geoname_id:
          type: string
        country_emoji:
          type: string
      additionalProperties: true
    CountryMetadata:
      type: object
      properties:
        calling_code:
          type: string
        tld:
          type: string
        languages:
          type: array
          items:
            type: string
      additionalProperties: true
    GeoAsn:
      type: object
      properties:
        as_number:
          type: string
        organization:
          type: string
        country:
          type: string
        asn_name:
          type: string
        type:
          type: string
        domain:
          type: string
        date_allocated:
          type: string
        allocation_status:
          type: string
        num_of_ipv4_routes:
          type: string
        num_of_ipv6_routes:
          type: string
        rir:
          type: string
      additionalProperties: true
    GeoCompany:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        domain:
          type: string
      additionalProperties: true
    GeoNetwork:
      type: object
      properties:
        asn:
          $ref: '#/components/schemas/GeoAsn'
        connection_type:
          type: string
        company:
          $ref: '#/components/schemas/GeoCompany'
      additionalProperties: true
    Currency:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
        symbol:
          type: string
      additionalProperties: true
    GeolocationResponse:
      type: object
      properties:
        ip:
          type: string
        location:
          $ref: '#/components/schemas/IpLocation'
        country_metadata:
          $ref: '#/components/schemas/CountryMetadata'
        network:
          $ref: '#/components/schemas/GeoNetwork'
        currency:
          $ref: '#/components/schemas/Currency'
      additionalProperties: true
    IpSecurityNetwork:
      type: object
      properties:
        connection_type:
          type: string
        route:
          type: string
        is_anycast:
          type: boolean
      additionalProperties: true
    IpSecurityAsn:
      type: object
      properties:
        as_number:
          type: string
        organization:
          type: string
        country:
          type: string
        type:
          type: string
        domain:
          type: string
        date_allocated:
          type: string
        rir:
          type: string
      additionalProperties: true
    IpSecurity:
      type: object
      properties:
        threat_score:
          type: integer
        is_tor:
          type: boolean
        is_proxy:
          type: boolean
        proxy_provider_names:
          type: array
          items:
            type: string
        proxy_confidence_score:
          type: integer
        proxy_last_seen:
          type: string
        is_residential_proxy:
          type: boolean
        is_vpn:
          type: boolean
        vpn_provider_names:
          type: array
          items:
            type: string
        vpn_confidence_score:
          type: integer
        vpn_last_seen:
          type: string
        is_relay:
          type: boolean
        relay_provider_name:
          type: string
        is_anonymous:
          type: boolean
        is_known_attacker:
          type: boolean
        is_bot:
          type: boolean
        is_spam:
          type: boolean
        is_cloud_provider:
          type: boolean
        cloud_provider_name:
          type: string
      additionalProperties: true
    IpReputationResponse:
      type: object
      properties:
        ip:
          type: string
        location:
          $ref: '#/components/schemas/IpLocation'
        network:
          $ref: '#/components/schemas/IpSecurityNetwork'
        asn:
          $ref: '#/components/schemas/IpSecurityAsn'
        security:
          $ref: '#/components/schemas/IpSecurity'
      additionalProperties: true
    DomainReputationInput:
      type: object
      properties:
        domain:
          type: string
      additionalProperties: true
    ThreatSource:
      type: object
      properties:
        source:
          type: string
        indicator:
          type: string
        threat_type:
          type: string
        confidence:
          type: number
        first_seen:
          type: string
        last_seen:
          type: string
      additionalProperties: true
    PivotMatch:
      type: object
      properties:
        pivot:
          type: string
        pivot_type:
          type: string
        total_related_threats:
          type: integer
        confidence:
          type: number
      additionalProperties: true
    RiskCategory:
      type: object
      properties:
        verdict:
          type: string
        confidence:
          type: number
        primary_threat:
          type: string
        severity:
          type: string
        threat_types:
          type: array
          items:
            type: string
        sources:
          type: array
          items:
            $ref: '#/components/schemas/ThreatSource'
        pivot_matches:
          type: array
          items:
            $ref: '#/components/schemas/PivotMatch'
      additionalProperties: true
    DgaFeatures:
      type: object
      properties:
        domain_length:
          type: integer
        vowel_consonant_ratio:
          type: number
        ngram_perplexity:
          type: number
        shannon_entropy:
          type: number
        digit_letter_ratio:
          type: number
        consonant_streak_max:
          type: integer
        tld_in_known_dga_set:
          type: boolean
      additionalProperties: true
    DgaScore:
      type: object
      properties:
        score:
          type: number
        is_dga:
          type: boolean
        model:
          type: string
        features:
          $ref: '#/components/schemas/DgaFeatures'
        interpretation:
          type: string
      additionalProperties: true
    ReputationSignal:
      type: object
      properties:
        code:
          type: string
        weight:
          type: integer
        polarity:
          type: string
        category:
          type: string
        evidence:
          type: string
        confidence:
          type: number
      additionalProperties: true
    ReputationSignals:
      type: object
      properties:
        positive:
          type: array
          items:
            $ref: '#/components/schemas/ReputationSignal'
        negative:
          type: array
          items:
            $ref: '#/components/schemas/ReputationSignal'
        neutral:
          type: array
          items:
            $ref: '#/components/schemas/ReputationSignal'
      additionalProperties: true
    ReputationIndicators:
      type: object
      properties:
        is_newly_registered:
          type: boolean
        uses_free_extension:
          type: boolean
        uses_free_ssl:
          type: boolean
        has_privacy_whois:
          type: boolean
        ssl_age_days:
          type: integer
        has_dmarc:
          type: boolean
        has_spf:
          type: boolean
        redirects_externally:
          type: boolean
        javascript_obfuscated:
          type: boolean
        domain_age_days:
          type: integer
        registrar:
          type: string
      additionalProperties: true
    TrustSignals:
      type: object
      properties:
        trust_score:
          type: integer
        trust_band:
          type: string
        signals:
          $ref: '#/components/schemas/ReputationSignals'
        indicators:
          $ref: '#/components/schemas/ReputationIndicators'
      additionalProperties: true
    RelatedIoc:
      type: object
      properties:
        type:
          type: string
        value:
          type: string
        confidence:
          type: number
      additionalProperties: true
    ReputationIntelligence:
      type: object
      properties:
        ioc_type:
          type: string
        ioc_value:
          type: string
        related_iocs:
          type: array
          items:
            $ref: '#/components/schemas/RelatedIoc'
        feed_tags:
          type: array
          items:
            type: string
        stix_pattern:
          type: string
        recommended_action:
          type: string
        first_seen:
          type: string
        last_seen:
          type: string
      additionalProperties: true
    EvidenceSummary:
      type: object
      properties:
        why_flagged:
          type: array
          items:
            type: string
      additionalProperties: true
    DomainReputationResponse:
      type: object
      properties:
        input:
          $ref: '#/components/schemas/DomainReputationInput'
        assessed_at:
          type: string
        version:
          type: string
        processing_time_ms:
          type: integer
        risk_category:
          $ref: '#/components/schemas/RiskCategory'
        dga_score:
          $ref: '#/components/schemas/DgaScore'
        trust_signals:
          $ref: '#/components/schemas/TrustSignals'
        intelligence:
          $ref: '#/components/schemas/ReputationIntelligence'
        evidence_summary:
          $ref: '#/components/schemas/EvidenceSummary'
        errors:
          type: array
          items:
            type: string
      additionalProperties: true
    ApiCredits:
      type: object
      properties:
        totalCredits:
          type: integer
        servedRequest:
          type: integer
      additionalProperties: true
    ApiSubscription:
      type: object
      properties:
        requestLimit:
          type: integer
        servedRequests:
          type: integer
        subscriptionStatus:
          type: string
        surchargeRequestLimit:
          type: integer
        servedSurchargeRequests:
          type: integer
      additionalProperties: true
    AccountUsageResponse:
      type: object
      properties:
        apiKey:
          type: string
        apiCredits:
          $ref: '#/components/schemas/ApiCredits'
        apiSubscription:
          $ref: '#/components/schemas/ApiSubscription'
      additionalProperties: true
    DateRangeStatus:
      type: object
      properties:
        available_from:
          type: string
        last_update:
          type: string
      additionalProperties: true
    NewlyStatus:
      type: object
      properties:
        gtld:
          $ref: '#/components/schemas/DateRangeStatus'
        cctld:
          $ref: '#/components/schemas/DateRangeStatus'
        dns:
          $ref: '#/components/schemas/DateRangeStatus'
        cleaned_gtld:
          $ref: '#/components/schemas/DateRangeStatus'
        cleaned_cctld:
          $ref: '#/components/schemas/DateRangeStatus'
      additionalProperties: true
    UpdateFrequencies:
      type: object
      properties:
        daily:
          $ref: '#/components/schemas/DateRangeStatus'
        weekly:
          $ref: '#/components/schemas/DateRangeStatus'
        monthly:
          $ref: '#/components/schemas/DateRangeStatus'
      additionalProperties: true
    DatabaseUpdates:
      type: object
      properties:
        domain_whois:
          $ref: '#/components/schemas/UpdateFrequencies'
        dns:
          $ref: '#/components/schemas/UpdateFrequencies'
        subdomains:
          $ref: '#/components/schemas/UpdateFrequencies'
        ip_whois:
          $ref: '#/components/schemas/UpdateFrequencies'
      additionalProperties: true
    ThreatFeedStatus:
      type: object
      properties:
        phishing:
          $ref: '#/components/schemas/DateRangeStatus'
        malware:
          $ref: '#/components/schemas/DateRangeStatus'
        spam:
          $ref: '#/components/schemas/DateRangeStatus'
      additionalProperties: true
    DatabaseFileStatus:
      type: object
      properties:
        newly:
          $ref: '#/components/schemas/NewlyStatus'
        expired:
          $ref: '#/components/schemas/DateRangeStatus'
        cleaned_expired:
          $ref: '#/components/schemas/DateRangeStatus'
        dropped:
          $ref: '#/components/schemas/DateRangeStatus'
        dropped_with_backlinks:
          $ref: '#/components/schemas/DateRangeStatus'
        threat_feed:
          $ref: '#/components/schemas/ThreatFeedStatus'
        database_updates:
          $ref: '#/components/schemas/DatabaseUpdates'
      additionalProperties: true
    SnapshotStatus:
      type: object
      properties:
        status:
          type: string
        snapshot_creation_date:
          type: string
        snapshot_name:
          type: string
        snapshot_deletion_time:
          type: string
        message:
          type: string
      additionalProperties: true
    ErrorResponse:
      type: object
      properties:
        timestamp:
          type: string
        path:
          type: string
        status: {}
        error:
          type: string
        message:
          type: string
        code:
          type: integer
      additionalProperties: true
      description: Error response. `status` may be an integer (e.g. 401), boolean, or string depending
        on the endpoint, so it is intentionally untyped to avoid deserialization failures.
    BulkDomainAvailabilityRequest:
      type: object
      properties:
        domainNames:
          type: array
          items:
            type: string
          maxItems: 100
          description: "Mode 1 \u2014 list of full domain names. Cannot be used with tld."
        tld:
          type: array
          items:
            type: string
          maxItems: 100
          description: "Mode 2 \u2014 TLDs to check against the domain query param. Cannot be used with\
            \ domainNames."
      description: Request body for POST /v2.0/domain/availability. Use domainNames OR tld.
      additionalProperties: true
